<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
          <!--↓↓プロフィールの内容-->
        <h3>ユーザー詳細</h3>
          <table class='table table-hover table-inverse'>
            <tr><%= attachment_image_tag(@customeruser, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
              <tr>
                <th>ユーザー名</th>
                <th>自己紹介</th>
                <th>合計ポイント</th>
              </tr>
              <tr>
          	  　 <td><%= @customeruser.name %></td>
          	     <td><%= @customeruser.introduction %></td>
                 <!--↓いいね合計数表示-->
                 <td><%= @favorites_count %></td>
              </tr>
              <% if @customeruser == current_customer %>
              <%= link_to edit_public_customer_path(@customeruser) do %>編集する<i class="far fa-edit"></i><% end %>
              <% end %>
          </table>

       <!--↓↓自分が今まで投稿した一覧-->
        <h4>過去の投稿一覧</h4>
         <% @books.each do |book| %>
          <td>
            <p>活動タイトル：<%= book.title %>｜活動場所：<%= book.place %></p>
          </td>
          <td>
              <%= link_to public_book_path(book.id) do %>
              <%= attachment_image_tag book, :image, :fill, 60, 60, fallback: "no-image-icon.jpg" %>
              <% end %>
          </td>
          <td>
              <div class="form-group">
              <%= form_with model:[:public, book], local:true do |f| %>
              <%= f.label :explanation, "活動内容の説明" %>
              <%= f.text_area :explanation, class: 'form-control', size: "5x2", readonly: true %>
              <% end %>
              </div>
          </td>
         <% end %>
    </div>
  </div>
</div>