<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
        <!--↓↓プロフィールの内容-->
        <table class='table'>
          <tr><%= attachment_image_tag(@customer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
          <tr>
        	  <th>name</th>
        	  <th><%= @customer.name %></th>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <th><%= @customer.introduction %></th>
          </tr>
          <tr>
            <!--↓いいね合計数表示-->
            <th>いいね数<%= @favorites_count %></th>
          </tr>
          <tr>
            <%= link_to edit_public_customers_path do %>編集する<i class="far fa-edit"></i><% end %>
          </tr>
          <!--<tr>-->
          <!--  <th>follows</th>-->
          <!--  <th>%= link_to @customer.followings.count, user_followings_path(@customer) %></th>-->
          <!--</tr> -->
          <!--<tr>-->
          <!--  <th>followers</th>-->
          <!--  <th>%= link_to @customer.followers.count, user_followers_path(@customer) %></th>-->
          <!--</tr>-->
        </table>
        
        <!--↓↓フォロー機能-->
        <!--<div class='row'>-->
        <!--  % if current_customer != customer %>-->
        <!--    % if current_customer.following?(customer) %>-->
        <!--      %= link_to "フォロー外す", public_relationships_path(customer.id), method: :delete, class: "btn btn-info" %>-->
        <!--    % else %>-->
        <!--      %= link_to "フォローする", public_relationships_path(public.id), method: :post, class: "btn btn-success" %>-->
        <!--    % end %>-->
        <!--  % else %>-->
        <!--    %= link_to '',edit_public_customer_path(customer),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{customer.id}" %>-->
        <!--  % end %>-->
        <!--</div>-->
        
     <!--↓↓自分が今まで投稿した一覧-->
      <h2>Books</h2>
       <tbody>
            <% @books.each do |book| %>
            <div class="col-lg-3 col-md-6 mb-4"> 
              <!--<tr id="book_%= @book.id %>">-->
              <td>
                <p>タイトル：<%= book.title %></p>
              </td>
                <td><%= link_to public_book_path(book.id) do %>
                  <%= attachment_image_tag book, :image, :fill, 50, 50, fallback: "no-image-icon.jpg" %>
                  <% end %>
                </td>
                <!--<td>%= link_to book.title, book_path(book), class: "book_#{book.id}" %></td>-->
                <!--<td>%= book.body %></td>-->
                <!--<td>コメント数: %= book.book_comments.count %></td>-->
                <!--<td class="favorite-btn-%= book.id %>">%= render "favorites/favorite-btn", book: book %></td>-->
              <!--</tr>-->
            </div>
            <% end %>
          </tbody>
     
      <!--↓↓投稿数の比較を表示-->
      <!--<div class="border" style="padding:10px;">-->
      <!--  <table class="table">-->
      <!--    <thead>-->
      <!--      <tr>-->
      <!--       <th>今日の投稿</th>-->
      <!--       <th>昨日の投稿</th>-->
      <!--       <th>前日比</th>-->
      <!--      </tr>-->
      <!--      </thead>-->
      <!--     <tbody>-->
      <!--        <tr>-->
      <!--         <td>%= @today_book.count %></td>-->
      <!--         <td>%= @yesterday_book.count %></td>-->
      <!--         % if @yesterday_book.count == 0 %>-->
      <!--         <td>前日の投稿はなし</td>-->
      <!--         % else %>-->
      <!--           <td>% @the_day_before =   @today_book.count / @yesterday_book.count.to_f  %>-->
      <!--           %= (@the_day_before * 100).round %>%</td>-->
      <!--         % end %>-->
      <!--         </tr>-->
      <!--     </tbody>-->
      <!--    </table>-->
        
        
      <!--    <table class="table">-->
      <!--      <thead>-->
      <!--        <tr>-->
      <!--         <th>今週の投稿</th>-->
      <!--         <th>先週の投稿</th>-->
      <!--         <th>週間比</th>-->
      <!--        </tr>-->
      <!--      </thead>-->
      <!--     <tbody>-->
      <!--        <tr>-->
      <!--         <td>%= @this_week_book.count %></td>-->
      <!--         <td>%= @last_week_book.count %></td>-->
      <!--         % if @last_week_book.count == 0 %>-->
      <!--         <td>先週の投稿はなし</td>-->
      <!--         % else %>-->
      <!--           <td>% @the_week_before =   @this_week_book.count / @last_week_book.count.to_f  %>-->
      <!--           %= (@the_week_before * 100).round %>%</td>-->
      <!--         % end %>-->
      <!--         </tr>-->
      <!--    </tbody>-->
      <!--  </table>-->
      <!--</div>  -->
    </div>
  </div>
</div>