<div class='container mt-3'>
  <div class='row'>
    <div class="col-9 mx-auto">
      <h3 class="mb-5">新規会員登録</h3>
      
      <%= form_with model:@customer, url: customer_registration_path, local: true do |f| %>
        <%= render 'layouts/error', model: f.object %>
          <div class="form-group row">
            <label class= "col-4">ユーザーネーム</label>
            <div class="col-3"><%= f.text_field :name, autofocus: true, placeholder: "yamada taro" %></div>
          </div>
           
          <div class="form-group row">
            <label class= "col-4">自己紹介</label>
            <div class="col-3"><%= f.text_area :introduction,  class: 'form-control',size: "20x10", autofocus: true, placeholder: "ボランティアを始めて間もないです。世の中のために貢献したいです。" %></div>
          </div>
        
          <div class="form-group row">
            <label class= "col-4">メールアドレス</label>
            <div class="col-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "xxxxx@gmail.com" %></div>
            <div class="col-3"></div>
          </div>

          <div class="form-group row">
            <label class= "col-4">パスワード（６文字以上）</label>
            <div class="col-3"><%= f.password_field :password, autocomplete: "current-password", placeholder: "xxxxxx" %></div>
          </div>

           <div class="form-group row">
            <label class= "col-4">パスワード（確認用）</label>
            <div class="col-3"><%= f.password_field :password, autocomplete: "current-password", placeholder: "xxxxxx" %></div>
          </div>
          
          <!-- 退会ステータスの真偽値引き渡し -->
　　　　　<%= f.hidden_field :is_deleted, value: "false" %>

           <div class="form-group row">
            <label class= "col-4"></label>
            <div class="col-3"><%= f.submit "新規登録", class:"btn btn-dark" %></div>
          </div>
        <% end %>
      
      <h5 class="mt-5">既に登録済みの方</h5>
      <p class="offset-1"><%=link_to "こちら", new_customer_session_path %>からログインしてください</p>
     </div>
  </div>
</div>