<!DOCTYPE html>
<html>
  <head>
    <title>Las Caras</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="col-3">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse flex-column small" id="navbarNavDropdown">
                    <% if customer_signed_in? %>
                      <span>ようこそ、<%= current_customer.name %> さん！</span>
                    <% end %>
                    <ul class="navbar-nav d-flex flex-wrap">
                      <% if customer_signed_in? %>
                      <%= render "layouts/customer_signed" %>
                      <% elsif admin_signed_in? %>
                      <%= render 'layouts/admin_signed' %>
                      <% else %>
                      <%= render 'layouts/no_signed' %>
                      <% end %>
                    </ul>
                </div>
            </div>

            <div class="col-6 text-center">
              <%= link_to "", root_path, class:"navbar-brand" %>
            </div>

        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="text-center my-3">
      <%= link_to "©Las Caras - sattaku1538", root_path, class:"navbar-brand" %>
    </footer>
  </body>
</html>